<cfoutput>
	<cfset redirectUrl = ReplaceNoCase(application.cbcontroller.getSetting("mainApplicationURL"),iif(application.cbcontroller.getSetting("enableSSL"),DE('https://'),DE('http://')) & cgi.SERVER_NAME, "") & "/index.cfm?fuseaction=security.shownotauth">
	<script type="text/javascript">
		location.href = '#redirectUrl#';
	</script>
	<cfabort>
</cfoutput>