<cfoutput>
	#getMyPlugin("MsgBox").renderIt(header=true)#
	#getMyPlugin('HTMLHelper').renderTabs(prc.tabListCodes, prc.xmlContent, prc.activeTab)#
	<script type="text/javascript" >
		$(function() {
			angular.bootstrap($("div.workplace"), ['tabBarApp']);
		});
	</script>
</cfoutput>


