/* Custom CSS Schedule Tabele */
.schedule_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	border-collapse:collapse;
}
.schedule_table td, th {
	padding: 2px 5px;
	border: 1px solid #000099;
}
.schedule_table th {
	font-weight:bold !important;
	-webkit-font-smoothing: antialiased;
}
.schedule_table .circuit_util{
	width: 180px;
	background-color: #EEEEEE;
}
@-moz-document url-prefix() {
  .schedule_table th  {
    font-weight: normal;
  }
}
.schedule_table .left{
	text-align: left;
}
.schedule_table .handle {
	display: none;
	height: 16px;
    left: 2px;
    padding-bottom: 1px;
    top: -1px;
    width: 16px;
    background: url("images/drag_arrow.png") no-repeat scroll left center;
    cursor: pointer;
    position: inherit;
}
.schedule_table .accept:hover .handle {
	display: inline-block;
}
.schedule_table .circuit_util a{
	color: #000099;
}
.defaultTable {
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
.defaultTable td {
	padding: 0px;
	border: none;
}

/* Combobox */
.custom-combobox {
	position: inherit;
	display: inline-block;
	height: 14px;
	width: 100%;
}
.custom-combobox .ui-state-default {
	background-image: none;
	border: 1px solid #000099;
	border-radius: 0px;
}
.custom-combobox .custom-combobox-input {
	float: left;
	margin: 0;
	font-size: 12px;
	color: #000099;
	width: 100%;
	background: none;
	border: none;
	text-align: center;
	overflow: hidden;
}
.focus .custom-combobox-input {
	text-decoration: none !important;
	background-color: white;
	text-align: left;
	width: 80%;
	margin-left: 4%;
	border: 1px solid #000099;
}
.custom-combobox .custom-combobox-input:hover {
	text-decoration: underline;
}
.focus .custom-combobox-input:hover {
	text-decoration: none !important;
}
.custom-combobox .custom-combobox-toggle{
	display: none;
	float: left;
	width: 16px;
	max-width: 12%;
	position: inherit;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding-bottom: 2px;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.focus .custom-combobox-toggle{
	display: inline-block;
}
.custom-combobox-toggle .ui-button-icon-primary {
	position: inherit;
	margin: 0px;
	top: 0px;
	left: 0px;
}
.custom-combobox-toggle .ui-button-text {
	display: none;
}
.ui-autocomplete {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.page-break-before {
	page-break-before:always;
}

/* modal fix */
.ui-widget-overlay {
	position: fixed;
}
.dlg_content {
	margin: 10px !important;
}