.filter, #tabBar, .title_bar{
	display:none;
}
.content {
	display: block;
	height: auto !important;
    width: auto !important;
    overflow: visible !important;
}
.body_tabs{
	border: none !important;
	background: #FFFFFF !important;
}
.print_view td{
	border-color: #000000;
}