.ui-tabs .ui-tabs-panel .line-separator p {
    margin: 0px 20px; !important;
}

.formErrorContent {
	white-space: normal !important;	
}
.other-checkbox-input {
	width:60% !important;
	margin-left:10px !important;
}
.line-separator {
	border-bottom:1px solid #DAE1E8;
	height: 10px;
}
.margin-bot {
	margin-bottom: 10px;
}
.line-separator p {
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	color: black;
	position:relative;
	background:#f9f9f9;
	margin-left: 20px;
	padding: 2px;
	border: 1px solid #DAE1E8;
}
fieldset {
	border:1px solid #DAE1E8 !important;
}
input.datepicker {
    width: 90px !important;
}
.tab-no-pad-bot {
	padding-bottom: 0px !important;	
}
.no-padding {
	padding: 0;
}
.no-marg-bot {
	margin-bottom: 0px;
}
.no-marg-top {
	margin-top: 0px !important;
}
.no-pad-left {
	padding-left: 0px;
}
.no-marg-left {
	margin-left: 0px;
}
.marg-right {
	margin-right: 10px;
}
.table-text-center th, .table-text-center td {
	text-align: center;
}

.text-center {
	text-align: center !important;
}

.no-border{
	border-top:none;
	border-bottom:none;
}

.block-no-border {
	border-style: none;
    border-width: 0;
}

.border{
	border: 1px solid #ccc;
}
.add-top-border {
	border-top: 1px solid #ccc;
}
.detailForm {
	width: 900px; margin-left: -450px
}
.operation {
	font-weight: bold;
	font-size: 25px;
	width: 5% !important;
}

.toolbar-fix {
	margin:0px 3px;
}

.headInfo input {
	margin-bottom: 0px;
}

@media (max-width: 767px) {
	.row-fluid [class*="centerText"] {
		text-align: center;
		width: 100% !important;
	}
	.row-fluid .separator{
		min-height: 0px;
	}
}

@media (min-width: 767px) {
	div.uploader span.filename {
	  width: 220px;
	}
	div.uploader {
	  width: 328px;
	}
	div.uploader input {
	    width: 325px;
	}
}
.tblEditable tr:hover td{
	background-color: #B5CADF !important;
}
.red{color: red !important;}
.green{color:green !important;}

.pop-up-loading, .pop-up-error {
	display:none;
}
.error {
	color:red !important;
}
.input-div {
	 border: 1px solid #D5D5D5;
	 border-radius: 3px 3px 3px 3px;
	 padding-left: 10px;
	 white-space: normal !important;
	 line-height: 20px !important;
	 min-height:0px !important;
}
.textarea-div {
	border: 1px solid #D5D5D5;
	border-radius: 3px 3px 3px 3px;
	padding: 10px;
	white-space: normal !important;
}
div.uploader {
    overflow: visible !important;
}
.mcat-div {
	border: 1px solid #D5D5D5;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	white-space: normal !important;
}